<div class="container">
  <form (ngSubmit)="salvar()" autocomplete="off" [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{isEditing ? "Editar Lançamento" : "Novo Lançamento"}}</h1>
      </div>
      <div class="ui-g-12">
        <p-selectButton [options]="tipos"
                       formControlName="tipo"></p-selectButton>
        <app-mensagem-erro [control]="formulario.get('tipo')" error="required" text="O tipo é obrigatório"></app-mensagem-erro>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar [locale]="locationService.pt"
                    dateFormat="dd/mm/yy" formControlName="dataVencimento"></p-calendar>
        <app-mensagem-erro [control]="formulario.get('dataVencimento')" error="required"
                           text="A data de vencimento é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipo').value == 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar [locale]="locationService.pt"
                    dateFormat="dd/mm/yy" formControlName="dataPagamento"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" formControlName="descricao">
        <app-mensagem-erro [control]="formulario.get('descricao')" error="required"
                           text="A descrição é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" currencyMask
               pInputText type="text" formControlName="valor">
        <app-mensagem-erro [control]="formulario.get('valor')" error="required"
                           text="O valor é obrigatório"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <ng-select (clear)="onCategoriaClear()" (scrollToEnd)="onCategoriaScrollEnded()"
                   (search)="onCategoriaSearch($event)"
                   [clearable]="true" [items]="categorias" [searchable]="true" [virtualScroll]="true"
                   bindLabel="nome" bindValue="codigo" clearAllText="Limpar"
                   notFoundText="Nenhuma categoria encontrada"
                   placeholder="Selecione" formControlName="codigo"></ng-select>
        <app-mensagem-erro [control]="formulario.get('codigo')" error="required"
                           text="A categoria é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <ng-select (clear)="onPessoaClear()" (scrollToEnd)="onPessoaScrollEnded()"
                   (search)="onPessoaSearch($event)"
                   [clearable]="true" [items]="pessoas" [searchable]="true" [virtualScroll]="true"
                   bindLabel="nome" bindValue="codigo" clearAllText="Limpar" id="pessoa"
                   notFoundText="Nenhuma pessoa encontrada"
                   placeholder="Selecione" formControlName="codigo"></ng-select>
        <app-mensagem-erro [control]="formulario.get('codigo')" error="required"
                           text="A pessoa é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" formControlName="observacao"></textarea>
      </div>
      <div class="ui-g-12">
        <button [disabled]="formulario.invalid" label="Salvar" pButton type="submit"></button>
        <button (click)="novo()" *ngIf="isEditing" label="Novo" pButton type="button"></button>
        <button (click)="clear()" class="ui-button-info" label="Limpar" pButton type="button"></button>
        <a [routerLink]="'/lancamentos'" href="javascript:">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
