<div class="container">
  <form #formLancaemento="ngForm" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>
      <div class="ui-g-12">
        <p-selectButton #tipo="ngModel" [options]="tipos" name="tipo" ngModel required></p-selectButton>
        <app-mensagem-erro [control]="tipo" error="required" text="O tipo é obrigatório"></app-mensagem-erro>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="vencimento">Vencimento</label>
        <p-calendar #dataVencimento="ngModel" id="vencimento" name="dataVencimento" ngModel required></p-calendar>
        <app-mensagem-erro [control]="dataVencimento" error="required"
                           text="A data de vencimento é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="recebimento_pagamento">Recebimento</label>
        <p-calendar #dataPagamento="ngModel" id="recebimento_pagamento" name="dataPagamento"
                    ngModel></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="descricao">Descrição</label>
        <input #descricao="ngModel" id="descricao" maxlength="30" name="descricao" ngModel pInputText required
               type="text">
        <app-mensagem-erro [control]="descricao" error="required"
                           text="A descrição é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="valor">Valor</label>
        <input #valor="ngModel" [options]="{ prefix: '', thousands: '.', decimal: ',' }" currencyMask id="valor"
               name="valor"
               ngModel pInputText required type="text">
        <app-mensagem-erro [control]="valor" error="required"
                           text="O valor é obrigatório"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="categoria">Categoria</label>
        <p-dropdown #categoria="ngModel" [autoWidth]="false" [filter]="true" [options]="categorias" id="categoria"
                    name="categoria"
                    ngModel placeholder="Selecione" required></p-dropdown>
        <app-mensagem-erro [control]="categoria" error="required"
                           text="A categoria é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="pessoa">Pessoa</label>
        <p-dropdown #pessoa="ngModel" [autoWidth]="false" [filter]="true" [options]="pessoas" id="pessoa" name="pessoa"
                    ngModel placeholder="Selecione" required></p-dropdown>
        <app-mensagem-erro [control]="pessoa" error="required"
                           text="A pessoa é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="observacao">Observação</label>
        <textarea #observacao="ngModel" id="observacao" maxlength="100" name="observacao" ngModel pInputTextarea
                  rows="3"></textarea>
      </div>
      <div class="ui-g-12">
        <button [disabled]="formLancaemento.invalid" label="Salvar" pButton type="button"></button>
        <button class="ui-button-info" label="Limpar" pButton type="button"></button>
        <a [routerLink]="'/lancamentos'" href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
