<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="nome">Nome</label>
      <input [(ngModel)]="pessoaFilter.nome" id="nome" pInputText type="text">
    </div>
    <div class="ui-g-12">
      <button (click)="filtrar()" label="Pesquisar" pButton></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table #table (onLazyLoad)="changePage($event)" [lazy]="true"
               [paginator]="true" [responsive]="true" [rows]="pessoaFilter.itensPorPagina"
               [totalRecords]="pessoaFilter.total"
               [value]="pessoas">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-header-acoes"></th>
          </tr>
        </ng-template>
        <ng-template *ngIf="!pessoas" pTemplate="emptymessage">
          Nenhuma pessoa encontrada
        </ng-template>
        <ng-template let-pessoa pTemplate="body">
          <tr>
            <td>{{pessoa?.nome}}</td>
            <td>{{pessoa?.endereco?.cidade}}</td>
            <td>{{pessoa?.endereco?.estado}}</td>
            <td><a (click)="atualizarPropriedadeAtivo(pessoa)" href="javascript:"
                   pTooltip="{{pessoa?.ativo ? 'Desativar' : 'Ativar'}}"
                   tooltipPosition="top">{{pessoa?.ativo ? 'Ativo' : 'Inativo'}}</a></td>
            <td class="col-body-acoes">
              <button [disabled]="!auth.hasAuthority('ATUALIZAR_PESSOA')" icon="pi pi-pencil" pButton pTooltip="Editar"
                      (click)="editar(pessoa?.codigo)" tooltipPosition="top"></button>
              <button (click)="confirmDelete(pessoa)" [disabled]="!auth.hasAuthority('DELETAR_PESSOA')"
                      icon="pi pi-trash" pButton
                      pTooltip="Excluir"
                      tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <button [disabled]="!auth.hasAuthority('SALVAR_PESSOA')" [routerLink]="'/pessoas/novo'" label="Nova Pessoa"
              pButton></button>
    </div>
  </div>
</div>
