<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="nome">Nome</label>
      <input id="nome" pInputText type="text" [(ngModel)]="pessoaFilter.nome">
    </div>
    <div class="ui-g-12">
      <button label="Pesquisar" pButton (click)="filtrar()"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [paginator]="true" [responsive]="true" [rows]="pessoaFilter.itensPorPagina"
               [totalRecords]="pessoaFilter.total" [lazy]="true" (onLazyLoad)="changePage($event)" [value]="pessoas"
               #table>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-header-acoes"></th>
          </tr>
        </ng-template>
        <ng-template let-pessoa pTemplate="body">
          <tr>
            <td>{{pessoa?.nome}}</td>
            <td>{{pessoa?.endereco?.cidade}}</td>
            <td>{{pessoa?.endereco?.estado}}</td>
            <td><a href="javascript:;" pTooltip="{{pessoa?.ativo ? 'Desativar' : 'Ativar'}}"
                   tooltipPosition="top">{{pessoa?.ativo ? 'Ativo' : 'Inativo'}}</a></td>
            <td class="col-body-acoes">
              <button icon="pi pi-pencil" pButton pTooltip="Editar" tooltipPosition="top"
                      [disabled]="!auth.hasAuthority('ATUALIZAR_PESSOA')"></button>
              <button icon="pi pi-trash" pButton pTooltip="Excluir" tooltipPosition="top"
                      (click)="deletar(pessoa)"
                      [disabled]="!auth.hasAuthority('DELETAR_PESSOA')"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <button [routerLink]="'/pessoas/novo'" label="Nova Pessoa" pButton
              [disabled]="!auth.hasAuthority('SALVAR_PESSOA')"></button>
    </div>
  </div>
</div>
