<div class="container" style="max-width: 400px; margin: auto">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm); submitted=true;password.reset()" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Login</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <input #email="ngModel" email name="email" ngModel pInputText placeholder="E-mail" required type="email">
        <app-mensagem-erro [control]="email" error="required"
                           text="O e-mail é obrigatório"></app-mensagem-erro>
        <app-mensagem-erro *ngIf="submitted" [control]="email" error="email"
                           text="Digite um endereço de e-mail válido"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-fluid">
        <input #password="ngModel" name="senha" ngModel pInputText placeholder="Senha" required type="password">
        <app-mensagem-erro [control]="password" error="required"
                           text="A senha é obrigatória"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-fluid">
        <button #submitButton [disabled]="loginForm.invalid" label="Login" pButton type="submit"></button>
      </div>
    </div>
  </form>
</div>
