body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a, button, input, label {
  margin-right: .25em !important;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-header-data, .col-header-valor {
  width: 120px;
}

.col-body-data {
  text-align: center;
}

.col-body-valor {
  text-align: right;
}

.col-header-acoes {
  width: 100px;
}

.col-body-acoes {
  text-align: center;
}

.ui-message.ui-message-error {
  margin-top: 4px !important;
}
