<div class="container">
  <form #formPessoa="ngForm" (ngSubmit)="salvar(formPessoa)" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{isEditing ? "Editar Pessoa" : "Nova Pessoa"}}</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input #nome="ngModel" [(ngModel)]="pessoa.nome" id="nome" maxlength="50" minlength="3" name="nome" pInputText
               required
               type="text">
        <app-mensagem-erro [control]="nome" error="required" text="O nome é obrigatório"></app-mensagem-erro>
        <app-mensagem-erro [control]="nome" error="minlength"
                           text="O nome deve ter, no mínimo, {{nome.errors?.minlength?.requiredLength}}"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="logradouro">Logradouro</label>
        <input #logradouro="ngModel" [(ngModel)]="pessoa.endereco.logradouro" id="logradouro" name="logradouro"
               pInputText
               type="text">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="numero">Número</label>
        <input #numero="ngModel" [(ngModel)]="pessoa.endereco.numero" id="numero" name="numero" pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="complemento">Complemento</label>
        <input #complemento="ngModel" [(ngModel)]="pessoa.endereco.complemento" id="complemento" name="complemento"
               pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="bairro">Bairro</label>
        <input #bairro="ngModel" [(ngModel)]="pessoa.endereco.bairro" id="bairro" name="bairro" pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="cep">CEP</label>
        <p-inputMask #cep="ngModel" [(ngModel)]="pessoa.endereco.cep" id="cep" mask="99999-999"
                     name="cep"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="cidade">Cidade</label>
        <input #cidade="ngModel" [(ngModel)]="pessoa.endereco.cidade" id="cidade" name="cidade" pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="estado">Estado</label>
        <input #estado="ngModel" [(ngModel)]="pessoa.endereco.estado" id="estado" name="estado" pInputText type="text">
      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <button [disabled]="formPessoa.invalid" label="Salvar" pButton type="submit"></button>
        <button (click)="novo(formPessoa)" *ngIf="isEditing" label="Nova" pButton type="button"></button>
        <button (click)="clear(formPessoa)" class="ui-button-info" label="Limpar" pButton
                type="button"></button>
        <a [routerLink]="'/pessoas'" href="javascript:">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
