<div class="container">
  <form #formPessoa="ngForm" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input #nome="ngModel" id="nome" maxlength="50" minlength="3" name="nome" ngModel pInputText required
               type="text">
        <app-mensagem-erro [control]="nome" error="required" text="O nome é obrigatório"></app-mensagem-erro>
        <app-mensagem-erro [control]="nome" error="minlength"
                           text="O nome deve ter, no mínimo, {{nome.errors?.minlength?.requiredLength}}"></app-mensagem-erro>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="logradouro">Logradouro</label>
        <input #descricao="ngModel" id="logradouro" name="descricao" ngModel pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="numero">Número</label>
        <input #numero="ngModel" id="numero" name="numero" ngModel pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="complemento">Complemento</label>
        <input #complemento="ngModel" id="complemento" name="complemento" ngModel pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="bairro">Bairro</label>
        <input #bairro="ngModel" id="bairro" name="bairro" ngModel pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="cep">CEP</label>
        <p-inputMask #cep="ngModel" id="cep" mask="99999-999" name="cep" ngModel></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="cidade">Cidade</label>
        <input #cidade="ngModel" id="cidade" name="cidade" ngModel pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="estado">Estado</label>
        <input #estado="ngModel" id="estado" name="estado" ngModel pInputText type="text">
      </div>
      <div class="ui-g-12">
        <button [disabled]="formPessoa.invalid" label="Salvar" pButton></button>
        <button class="ui-button-info" label="Limpar" pButton></button>
        <a [routerLink]="'/pessoas'" href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
