<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição</label>
      <input id="descricao" pInputText type="text">
    </div>
    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input pInputText type="text" class="input-vencimento">

      <label>até</label>
      <input pInputText type="text" class="input-vencimento">
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="4" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-header-data">Vencimento</th>
            <th class="col-header-data">Pagamento</th>
            <th class="col-header-valor">Valor</th>
            <th class="col-header-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{lancamento.pessoa}}</td>
            <td>{{lancamento.descricao}}</td>
            <td class="col-body-data">{{lancamento.dataVencimento | date:'dd/MM/yyyy'}}</td>
            <td class="col-body-data">{{lancamento.dataPagamento | date:'dd/MM/yyyy'}}</td>
            <td class="col-body-valor" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{lancamento.valor}}</td>
            <td>
              <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <button pButton label="Novo Lançamento" [routerLink]="'/lancamentos/novo'"></button>
    </div>
  </div>
</div>
