<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição</label>
      <input [(ngModel)]="lancamentoFilter.descricao" id="descricao" pInputText type="text">
    </div>
    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <p-calendar [(ngModel)]="dataVencimentoDe" [inputStyle]="{ width: '95px' }"
                  [locale]="locationService.pt" [readonlyInput]="true"
                  dateFormat="dd/mm/yy" name="dataVencimentoDe"></p-calendar>

      <label>até</label>
      <p-calendar [(ngModel)]="dataVencimentoAte" [inputStyle]="{ width: '95px' }"
                  [locale]="locationService.pt" [readonlyInput]="true"
                  dateFormat="dd/mm/yy" name="dataVencimentoAte"></p-calendar>
    </div>
    <div class="ui-g-12">
      <button (click)="resumir()" label="Pesquisar" pButton type="submit"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table #lancamentoTable
               (onLazyLoad)="changePage($event)" [loading]="loading"
               [lazy]="true"
               [paginator]="true"
               [responsive]="true"
               [rows]="lancamentoFilter.itensPorPagina"
               [totalRecords]="lancamentoFilter.total" [value]="lancamentos">
        <ng-template *ngIf="!lancamentos" pTemplate="emptymessage">
          Nenhum lançamento encontrado
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-header-data">Vencimento</th>
            <th class="col-header-data">Pagamento</th>
            <th class="col-header-valor">Valor</th>
            <th class="col-header-acoes"></th>
          </tr>
        </ng-template>
        <ng-template let-lancamento pTemplate="body">
          <tr>
            <td>{{lancamento?.pessoa}}</td>
            <td>{{lancamento?.descricao}}</td>
            <td class="col-body-data">{{lancamento?.dataVencimento | date:'dd/MM/yyyy'}}</td>
            <td class="col-body-data">{{lancamento?.dataPagamento | date:'dd/MM/yyyy'}}</td>
            <td [style.color]="lancamento?.tipo === 'DESPESA' ? 'red' : 'blue'"
                class="col-body-valor">{{lancamento?.valor | number: '1.2-2'}}</td>
            <td>
              <button (click)="editar(lancamento?.codigo)"
                      [disabled]="!auth.hasAuthority('ATUALIZAR_LANCAMENTO')"
                      icon="pi pi-pencil" pButton
                      pTooltip="Editar"
                      tooltipPosition="top"></button>
              <button (click)="confirmDelete(lancamento)" [disabled]="!auth.hasAuthority('DELETAR_LANCAMENTO')"
                      icon="pi pi-trash" pButton
                      pTooltip="Excluir"
                      tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <button [disabled]="!auth.hasAuthority('SALVAR_LANCAMENTO')" [routerLink]="'/lancamentos/novo'"
              label="Novo Lançamento"
              pButton></button>
    </div>
  </div>
</div>
