<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição</label>
      <input id="descricao" pInputText type="text" [(ngModel)]="lancamentoFilter.descricao">
    </div>
    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <p-calendar name="dataVencimentoDe" dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
                  [(ngModel)]="lancamentoFilter.dataVencimentoDe" [readonlyInput]="true"></p-calendar>

      <label>até</label>
      <p-calendar name="dataVencimentoAte" dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
                  [(ngModel)]="lancamentoFilter.dataVencimentoAte" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="ui-g-12">
      <button label="Pesquisar" pButton type="submit" (click)="resumir()"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [paginator]="true"
               [responsive]="true"
               [rows]="lancamentoFilter.itensPorPagina"
               [lazy]="true"
               [totalRecords]="lancamentoFilter.total"
               (onLazyLoad)="changePage($event)"
               [value]="lancamentos">
        <ng-template pTemplate="emptymessage" *ngIf="!lancamentos">
          Nenhum lançamento encontrado
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-header-data">Vencimento</th>
            <th class="col-header-data">Pagamento</th>
            <th class="col-header-valor">Valor</th>
            <th class="col-header-acoes"></th>
          </tr>
        </ng-template>
        <ng-template let-lancamento pTemplate="body">
          <tr>
            <td>{{lancamento?.pessoa}}</td>
            <td>{{lancamento?.descricao}}</td>
            <td class="col-body-data">{{lancamento?.dataVencimento | date:'dd/MM/yyyy'}}</td>
            <td class="col-body-data">{{lancamento?.dataPagamento | date:'dd/MM/yyyy'}}</td>
            <td [style.color]="lancamento?.tipo === 'DESPESA' ? 'red' : 'blue'"
                class="col-body-valor">{{lancamento?.valor | number: '1.2-2'}}</td>
            <td>
              <button icon="pi pi-pencil" pButton pTooltip="Editar" tooltipPosition="top"
                      [disabled]="!auth.hasAuthority('ATUALIZAR_LANCAMENTO')"></button>
              <button icon="pi pi-trash" pButton pTooltip="Excluir" tooltipPosition="top"
                      [disabled]="!auth.hasAuthority('DELETAR_LANCAMENTO')"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <button [routerLink]="'/lancamentos/novo'" label="Novo Lançamento" pButton
              [disabled]="!auth.hasAuthority('SALVAR_LANCAMENTO')"></button>
    </div>
  </div>
</div>
